html, body {
    padding:0;
    margin:0;
    width:320px;
	color:#222;
    font-size:12pt;
    font-family:Georgia, "Times New Roman", Times, serif;
    text-shadow:#AAA 1px 1px 1px;
}

body {
    padding-top: 12px;
}

a {
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    color: green;
    text-shadow:#333 1px 1px 1px;
}

h3 {
    margin:8px;
    font-size:150%;
    color:#039;
    text-shadow:#333 1px 1px 1px;
}

#body {
}

#toc li {
    font-size: large;
    padding: 6px 0 6px 3px;
}

#faq {
    padding:0;
}

#faq > li {
    border-top:6px dotted #442200;
    list-style-type: none;
    padding-top:6px;
    padding-bottom:12px;
}

#faq > li > strong {
    padding:6px;
    color:#039;
    font-size:120%;
    display: block;
}
#faq > li > p {
    margin:0;
    padding:8px;
}
